/*----- Main Design------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

#error {
  color: red;
  font-size: 14px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

.navbar img {
  width: 30px;
  height: 30px;
}

nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
p {
  color: #ffffff;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  color: #ffffff;
}
.btn {
  display: inline-block;
  background: #130405;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: #563434;
}
.header {
  background: linear-gradient(
    to bottom,
    #000000,
    #111111,
    #1e1e1e,
    #3c3c3c,
    #4d4d4d
  );
}
.header .row {
  margin-top: 70px;
}

.categories {
  margin: 70px 0;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.div-container {
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  width: 100%;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title:after {
  content: "";
  background: #130405;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.col-4:hover {
  transform: translateY(-5px);
}
.logo img {
  width: 125px;
  height: 100px;
}
.dropdown {
  float: left;
  overflow: hidden;
}

/*-----FOOTER------*/

.footer {
  background: linear-gradient(
    to bottom,
    #000000,
    #111111,
    #1e1e1e,
    #3c3c3c,
    #4d4d4d
  );
  color: #ffffff;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p {
  color: #ffffff;
}
.footer h3 {
  color: #ffffff;
  margin-bottom: 15px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 15%;
  text-align: center;
}
ul {
  list-style-type: none;
  color: #212121;
}
.footer hr {
  border: none;
  background: #130405;
  height: 1px;
  margin: 20px 0;
}
.project {
  text-align: center;
}
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}
/*---------- media query for menu -------*/

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}
/*---media query for less than 600 screen size---*/
@media only screen and (max-width: 800px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
  .single-product .row {
    text-align: left;
  }
  .single-product .col-2 {
    padding: 20px 0;
  }
  .single-product h1 {
    font-size: 26px;
    line-height: 32px;
  }
  .cart-info p {
    display: none;
  }
}
